{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Zostań patronem{% endblock %}


{% block content %}
<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="p-2"> Witaj, tworząc Żyj świadomie od początku moim celem była inspiracja ludzi do bardziej świadomego i zdrowego życia. Od 4 lat staram się oto, aby dostarczać użytkownikom dobrych treści, które mają możliwie jak najbardziej praktyczne zastosowanie.<br><br>
          Od długiego czasu chciałem zmienić portal Żyj świadomie na społeczność żyj świadomie, dać takie opcje, które pozwolą poznać innych ludzi o wspólnym zainteresowaniu, dać jeszcze więcej ciekawych treści jak również dodać funkcje, które pozwolą użytkownikom dzielić się inspirującymi treściami, takimi jak filmy, cytaty czy pokazując inspirujące blogi. Niestety mimo wielu prób, korzystając z ogólnodostępnych rozwiązań nie udało się tego zrobić, postanowiłem więc nauczyć się programowania i stworzyć ten projekt. Efektem tego jest miejsce w którym teraz jesteś i które będzie się cały czas rozwijać. <br><br>
          </div>  
    </div>
        <div class="col-sm-12 col-md-6">
            <div class="p-2">
               <h4>O mnie:</h4>
               <!-- Begin Top Meta -->
				<div class="row post-top-meta">
					<div class="col-md-2">
						<a href="author.html"><img class="author-thumb" src="http://zyjswiadomie.eu/media/cache/ac/67/ac67dd9e4c2dbf2ec9ac90599e120b81.jpg" alt="Sal"></a>
					</div>
					<div class="col-md-10">
						<a class="link-dark" href="#">Maciej Urmański</a>
						<span class="author-description">Od 4 lat prowadzę profil Żyj świadomie. Od około 10 lat rozwijam swoją wiedzę na temat życia. Główne tematy jakie mnie interesują, to psychologia, duchowość(poznawanie wierzeń i praktykch naszych przodków) i to jak wiedza ta wpływa na współczesność. Szukam połączeń pomiędzy wiedza przodków, a obecnymi odkryciami i możliwościami, jakie to niesie. Moim celem jest zainspirowanie jak najwięcej ludzi do bardziej świadomego życia. </span>
					</div>
				</div>
				<!-- End Top Menta -->
				<h4>Możesz wspierać przez:</h4>
				<a href="https://paypal.me/zyjswiadomie"><img src="{% static "/img/paypal.png" %}" width=""></a><br>
				<p>Na konto: 58 1090 1102 0000 0001 2037 0724 - Bzwbk</p>
				<p>Kontakt: maciej@zyjswiadomie.eu</p>
            </div>
        </div>
    </div>
      <h4>Lista funkcji, jakie ujrzysz z czasem:</h4>
      <ul>
        <li>Dział z artykułami - Dostępny od 30.03.2018</li>
        <li>Dział wydarzeń - Dostępny od 30.03.2018</li>
        <li>Dział wideo - miejsce w którym każdy użytkownik będzie mógł wstawić film z youtube, Tedx itp. swoje ulubione nagrania.</li>
        <li>Dział podcastów - Wywiady i inne ciekawe transmisje, które będzie można słuchać na wszystkich urządzeniach.</li>
        <li>Dział z blogami - miejsce w którym będziesz mógł przejrzeć wiele różnych ciekawych blogów użytkowników portalu Żyj świadomie. Każdy użytkownik będzie miał możliwość podłączenia swojego bloga podając do niego link. System sam będzie pobierał krótki fragment wpisu i po kliknięciu przekieruje zainteresowanych do danego wpisu.</li>
        <li>Dział z ciekawymi ebookami - Dział z ciekawymi ebookami będzie zawierał listę darmowych ebooków autorów, które będzie można łatwo pobrać.</li>
        <li>System obserwacji - Każdy użytkownik będzie mógł wybierać treści, które obserwuje. Opcja ta pozwoli śledzić na przykład konkretnego autora/autorów.</li>
        <li>Filtrowanie danych - Przy dużej ilości danych trudno się przedzierać, dlatego w planach jest stworzenie systemu, który przy rejestracji jak i po niej pozwoli wybierać tagi, które będą automatycznie tworzyć dedykowaną użytkownikowi stronę główną, która pojawi się po zalogowaniu. Oczywiście będzie możliwość edycji obserwowanych tematów.</li>
      </ul>
		<p>I zapewne jeszcze więcej opcji, wszystko wyjdzie z czasem. :)</p>
		<p>Ps. Lista nie jest po kolei, opcje mogą wejść w różnym czasie, zależnie od stopnia skomplikowania.</p>
      
      <div class="p-2">
        
      </div>
    </div>
</div>
<!-- End Article
================================================== -->

{% endblock %}