{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Profil {{ user.username }}{% endblock %}
{% block content %}

<!-- Begin Top Author Page
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-10 col-xs-12">
						<h1>{{ user.username }}</h1>
						<span class="author-description"></span></div>
						{% with total_followers=user.followers.count %}
						<span class="count">
						  <span class="total">{{ total_followers }}</span>
						  obserwujący{{ total_followers|pluralize:"ch" }}
						</span>
						<a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="btn btn-primary">
						  {% if request.user not in user.followers.all %}
							Obserwuj
						  {% else %}
							Nie obserwuj
						  {% endif %}
						</a>
						{% endwith %}
						</div>
					</div>
					<div class="col-md-2 col-xs-12">
						{% thumbnail user.profile.photo "180x180" crop="100%" as im %}
						<img class="author-thumb" src="{{ im.url }}" alt="{{ user.username }}">
						{% endthumbnail %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->
<div class="graybg authorpage">
		<div class="container">
			<div class="listrecent listrelated">
	
					<!-- begin post -->
					<div class="authorpostbox">
							
					</div>
				</div>
			</div>
		</div>

{% endblock %}
{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url "user_follow" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');

          // Zmiana wartości data-action.
          $('a.follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // Zmiana tekstu wyświetlanego przez łącze.
          $('a.follow').text(
            previous_action == 'follow' ? 'Nie obserwuj' : 'Obserwuj');

          // Uaktualnienie całkowitej liczby użytkowników obserwujących dany profil.
          var previous_followers = parseInt(
            $('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ?
previous_followers + 1 : previous_followers - 1);
        }
      }
    );
  });
{% endblock %}