{% extends "base.html" %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
<div class="container">
{% if validlink %}
    <div class="section-title">
        <h2><span>Dwukrotnie podaj nowe hasło:</span></h2>
    </div>
<form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button class="btn btn-primary btn-sm"><input type="submit" value="Zmień hasło"></button>
</form>
{% else %}
<p>Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało już wcześniej użyte. </p>
{% endif %}
</div>
{% endblock %}