{% extends "base.html" %}
{% block title %} Wydarzenia {% endblock %}

{% block content %}
<!-- Begin Site Title
================================================== -->
<div class="container">
        <div class="mainheading">
            <h1 class="sitetitle">Wydarzenia</h1>
            <p>Prowadzisz jakieś ciekawe wydarzenie związane ze świadomym życiem? Dodaj je, aby inni mogli je zobaczyć. :)</p>
            <a href="{% url 'event:event_add' %}">    
            <button type="button" class="btn btn-sm btn-outline-success">Dodaj wydarzenie</button></a>
        </div>
    <!-- End Site Title
    ================================================== -->

<div class="card-columns listrecent">

    <!-- begin post -->
    {% for event in events %}
    <div class="card">
        <a href="{{ event.get_absolute_url }}">
                {% load thumbnail %}
                {% thumbnail event.image "400" as im %}
                <img class="img-fluid" width="360" src="{{ im.url }}" alt="{{ request.user.first_name }}">
                {% endthumbnail %}
        </a>
        <div class="card-block">
            <h2 class="card-title"><a href="{{ event.get_absolute_url }}"> {{ event.title }} </a></h2>
            <h4 class="card-text"> {{ event.body|truncatewords:30|striptags }} </h4>
            <div class="metafooter">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    <a href="author.html">
                        {% thumbnail event.author.profile.photo "150x150" as im %}
                        <img class="author-thumb" src="{{ im.url }}" alt="{{ event.author }}"></a>
                        {% endthumbnail %}
                    </a>
                    </span>
                    <span class="author-meta">
                    <span class="post-name"><a href="{{ event.get_absolute_url }}">{{ event.author }}</a></span><br/>
                    <span class="post-date">{{ post.publish }}</span><span class="dot">{{ event.created_at }}</span>
                    </span>
                    <span class="post-read-more"><a href="{{ event.get_absolute_url }}" title="Przeczytaj więcej"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- end post -->
</div>
{% include "pagination.html" with page=events %}

{% endblock %}